/*
===============================================================================================================
   Theme Admin Panel
=============================================================================================================== */

/* General Structure ------- */
#mysite_admin_panel{margin:0 15px;width:800px;position:relative;z-index: 0 !important;}
#mysite_header{height:66px;overflow:hidden;}
#header_links{float:right;margin-top:30px;font-weight:bold;font-size:11px;text-shadow:1px 1px 0 #fff;}
#header_links a{margin-left:10px;text-decoration:none;}
#header_links span{font:italic 17px Georgia,"Times New Roman","Bitstream Charter",Times,serif;padding-right:5px;}
#mysite_logo{float:left;margin-top:10px;height:30px;}
#mysite_body{background-color:#f1f1f1;border:1px solid #e3e3e3;}
#mysite_body h2{color:#464646;font:italic 24px/35px Georgia,"Times New Roman","Bitstream Charter",Times,serif;margin:5px 0;overflow:hidden;padding:12px 11px 14px 0;text-indent:19px;text-shadow:0 1px 0 #FFFFFF;}
.mysite_admin_save{float:right;margin-top:22px;}
#mysite_footer{background:#f3f3f3;border:solid #ccc;border-width:0px 1px 1px 1px;padding:10px 14px 0;height:35px;}
#mysite_admin_reset{float:left;}
.mysite_footer_submit{float:right;}
.mysite_reset_button{background:#c77!important;color:#fff!important;text-shadow:none!important;border-color:#c77!important;}
.mysite_reset_button:hover{background:#AF5757!important;border-color:#7F4747!important;}
/* Tabs ------- */
body.js .mysite_tab{display:none;}
#mysite_tab_content{float:left;min-height:550px;width:620px;margin-left:-1px;padding:0 14px 10px;background-color:#f9f9f9;border-left:1px solid #e3e3e3;}
#mysite_admin_tabs{float:left;position:relative;z-index:99;width:150px;border-bottom:1px solid #fff;}
#mysite_admin_tabs ul {margin: 0px;}
#mysite_admin_tabs li{margin-bottom:0}
#mysite_admin_tabs li:first-child a{}
#mysite_admin_tabs li a:link,#mysite_admin_tabs li a:visited{display:block;padding:8px 10px;font:13px/18px Georgia,"Times New Roman","Bitstream Charter",Times,serif;text-decoration:none;border-bottom:1px solid #e3e3e3;border-top:1px solid #fff;}
#mysite_admin_tabs li.current a,#mysite_admin_tabs li a:hover{background-color:#f9f9f9;}
/* Shared Form Elements ------- */
.mysite_colorselector,.mysite_textarea,.mysite_textfield,.mysite_select,.mysite_upload{border-radius:4px;border:1px solid #ddd;padding:5px;}
.mysite_colorselector{float:left;width:65px;margin-left:5px;}
.mysite_option label{color:#7A7A7A;font-size:11px;padding:1px 10px 1px 6px;display:inline-block;}
.mysite_textfield{width:340px;}
.mysite_textarea{width:340px;}
.mysite_select{width:340px;height:auto !important;}
.checkbox_option_set input[type="checkbox"],
.radio_option_set input[type="radio"]{margin:3px;}
#mysite_admin_panel optgroup option{margin-left:1em;}
.mysite_upload{width:265px;margin-right:5px;}
.widefat {background-color: #FFFFFF;border-color: #DFDFDF;}
/* Shared WP Draggables Styles ------- */
.menu-to-edit input[type=text]{width:80%;}
.menu-to-edit select{width:80%;}
#mysite_admin_panel .menu-to-edit{padding:1em;}
#mysite_admin_panel .menu-item-handle,#mysite_admin_panel .menu-item-settings,#mysite_admin_panel .sortable-placeholder{width:98%;}
#mysite_admin_panel .menu-item-bar .menu-item-handle{padding: 0 10px 0 0;}
#mysite_admin_panel .menu-item-handle .item-title{padding: 7px 10px;}
#mysite_admin_panel .description-thin{width:630px;}
#mysite_admin_panel .description-wide{width:570px;}
/* Shared Help Tooltips & Messages ------- */
#mysite_admin_panel #message{background-color:#FFFFE0;border-color:#E6DB55;font-size:12px;left:150px;padding:6px 15px;position:absolute;top:12px;width:603px;z-index:10;}
.mysite_option_help{font-size:12px;height:16px;top:25px;right:-8px;position:absolute;width:16px;}
.mysite_help_tooltip{display:none;min-height:20px;width:240px;font-size:11px;line-height:15px;padding:20px;padding-right:15px;color:#f5f5f5;background-color:#252525;border-radius:4px;}
.mysite_help_tooltip a{color:#fff!important;text-decoration:none;border-bottom:1px solid #666;}
.mysite_help_tooltip code{color:#fff!important;background-color:#666;}
/* Shared Option Sets ------- */
.mysite_option_set{border-radius:6px;clear:both;display:block;padding:5px 0;margin-bottom:4px;background-color:#fff;border:1px solid #f7f7f7;border-bottom:1px solid #F2F2F2;position:relative;}
.mysite_option_header{font-weight:bold;text-align:right;float:left;font-size:12px;line-height:20px;width:190px;padding:20px;}
.mysite_option{float:left;overflow:visible;margin:20px 0;position:relative;width:360px;}
/* General Settings Tab ------- */
#breadcrumb_delimiter{width:40px;}
/* Homepage Tab ------- */
.editor_option_set .mysite_option{display:block;clear:both;text-align:left;padding-left:20px;width:580px;}
.editor_option_set #post-body{border:0 none;margin:0 none;padding:0;}
h3.editor_option_header{color:#464646;font:italic 18px/30px Georgia,"Times New Roman","Bitstream Charter",Times,serif;margin:5px 0;overflow:hidden;padding:12px 11px 14px 0;text-indent:19px;text-shadow:0 1px 0 #FFFFFF;}
#editorcontainer textarea{margin:0;width:100%;}
/* Image Resizing Tab ------- */
.resize_option_set .mysite_textfield{width:80px;}
/* Slideshow Tab ------- */
.toggle_option_set{background:#f9f9f9;border:none;}
.option_toggle{margin:0;}
.option_toggle a{color:#464646;display:block;font:italic 19px/30px Georgia,"Times New Roman","Bitstream Charter",Times,serif;padding:12px 11px 14px 0;text-decoration:none;text-indent:20px;text-shadow:0 1px 0 #fff;}
.option_toggle span{font-style:normal;font-size:16px;font-weight:bold;}
#nivo_slices{width:40px;}
/* Sidebar Tab ------- */
#mysite_admin_panel #sidebar-to-edit{padding:1em;}
.sidebar_option_set .add_sidebar{display:inline-block;float: right;margin-top: 2px;}
.sidebar_option_set .mysite_textfield{width:255px;margin-right:5px;}
.js #sidebar-to-edit .menu-item-handle{cursor:auto;padding: 5px 0 6px 10px;}
/* Footer Tab ------- */
.layout_option_set .mysite_option{width:360px;}
.layout_option_set .mysite_option a{border:2px solid #fff;cursor:pointer;float:left;margin-right:5px;margin-bottom:5px;}
.layout_option_set .mysite_option a img{vertical-align:baseline;display:block;}
.layout_option_set .mysite_option a.selected{border:2px solid #222;border-radius:2px;}
/* Sociable Tab ------- */
.sociable_option_set .mysite_option_heading,.slideshow_option_set .mysite_option_heading{float:left;font-size:12px;font-weight:bold;line-height:20px;padding:5px 20px;margin:10px 0;}
.add_menu{margin:10px 0;}
.menu_clear{height:4px;background:#f9f9f9;border-top:1px solid #f2f2f2;border-bottom:1px solid #f7f7f7;}


/*
===============================================================================================================
   Meta Boxes & Shortcode Generator
=============================================================================================================== */

#mysite_page_meta_box .inside,#mysite_post_meta_box .inside,#mysite_portfolio_meta_box .inside,#mysite_shortcode_meta_box .inside{margin:0;padding:6px 6px 8px;background-color:#f9f9f9;border-bottom-left-radius:6px;border-bottom-right-radius:6px;}
.shortcode_selector,.shortcode_wrap{display:block;clear:both;width:100%;}
.mysite_option_set.shortcode_wrap.sc_selected{background:#f9f9f9!important;border:0!important;padding:0;}
#mysite_testimonial_meta_box .mysite_option_header,#mysite_testimonial_meta_box .mysite_option_header,
#mysite_post_meta_box .mysite_option_header,#mysite_page_meta_box .mysite_option_header,
#mysite_portfolio_meta_box .mysite_option_header,#mysite_shortcode_meta_box .mysite_option_header{width:20%;}
#mysite_testimonial_meta_box .mysite_option,
#mysite_post_meta_box .mysite_option,
#mysite_page_meta_box .mysite_option,
#mysite_portfolio_meta_box .mysite_option,
#mysite_shortcode_meta_box .mysite_option{width:65%;}
#mysite_post_meta_box small,#mysite_page_meta_box small,#mysite_portfolio_meta_box small,#mysite_shortcode_meta_box small{display:block;color:#bbb;font-size:9px;font-style:italic;font-weight:normal;padding-left:1px;}
#mysite_testimonial_meta_box .mysite_textarea,#mysite_testimonial_meta_box .mysite_textfield,#mysite_testimonial_meta_box .mysite_select,#mysite_testimonial_meta_box .mysite_option label,
#mysite_post_meta_box .mysite_textarea,#mysite_post_meta_box .mysite_textfield,#mysite_post_meta_box .mysite_select,#mysite_post_meta_box .mysite_option label,
#mysite_page_meta_box .mysite_textarea,#mysite_page_meta_box .mysite_textfield,#mysite_page_meta_box .mysite_select,#mysite_page_meta_box .mysite_option label,
#mysite_portfolio_meta_box .mysite_textarea,#mysite_portfolio_meta_box .mysite_textfield,#mysite_portfolio_meta_box .mysite_select,#mysite_portfolio_meta_box .mysite_option label,
#mysite_shortcode_meta_box .mysite_textarea,#mysite_shortcode_meta_box .mysite_textfield,#mysite_shortcode_meta_box .mysite_select,#mysite_shortcode_meta_box .mysite_option label{width:80%;}
#mysite_testimonial_meta_box .editor_option_set .mysite_option{clear:none;padding-left:0;}
#shortcode_dropcaps .mysite_textfield{width:105px;}
.mysite_option_set.shortcode_selected{background:none;border:none;margin:0;}
.shortcode_selector,.shortcode_sub_selector,.shortcode_type_selector{border-radius:6px;clear:both;display:block;padding:5px 0;margin-bottom:4px;background-color:#fff;border:1px solid #f7f7f7;border-bottom:1px solid #F2F2F2;position:relative;}
.shortcode_selector{margin-bottom:0;}
h3.option_toggle{background:none;}
/* contact form generator ------- */
.shortcode_atts_contactform .mysite_option label{width:75px!important;line-height:20px;}
.shortcode_atts_contactform .mysite_option{position:static;}
.contactform_available_tags{color:#7A7A7A;line-height:20px;margin:5px 0;padding-left:6px;font-size:11px;}
.contactform_available_tags span{background:#f2f2f2;padding:0;margin-right:2px;display:inline-block;}
.contactform_field_deletion{position:absolute;top:20px;right:20px;padding-bottom:2px;font-size:11px;background:url(../images/x.png) 2px 2px no-repeat;padding-left:15px;color:#aaa;}
/* send shortcode to editor button ------- */
.mysite_sc_send{background:none repeat scroll 0 0 #f2f2f2;border-top:1px solid #E5E5E5;margin:6px -6px -8px;padding:15px;text-align:right;}
#shortcode_send{border-radius:11px;background:url(../images/button-grad.png) repeat-x scroll left top #21759B;border:1px solid #21759B;color:#FFFFFF;font-weight:bold;text-shadow:0 -1px 0 rgba(0,0,0,0.3);padding:3px 14px;font-size:11px !important;line-height:13px;cursor:pointer;}
.contact_form_custom .mysite_option{margin-top:15px;}
#ajax-feedback{display:none;position:absolute;right:140px;top:85px;}
#imgPreviewContainer{z-index:100000;}

/*
===============================================================================================================
   Uploader Script
=============================================================================================================== */

.qq-uploader{position:relative;width:100%;}
.qq-upload-button{display:block;width:105px;padding:7px 0;text-align:center;}
.qq-upload-drop-area{position:absolute;top:0;left:0;width:100%;height:100%;min-height:70px;z-index:2;background:#FF9797;text-align:center;}
.qq-upload-drop-area span{display:block;position:absolute;top:50%;width:100%;margin-top:-8px;font-size:16px;}
.qq-upload-drop-area-active{background:#FF7171;}
.qq-upload-list{margin:15px 35px;padding:0;list-style:disc;}
.qq-upload-list li{margin:0;padding:0;line-height:15px;font-size:12px;}
.qq-upload-file,.qq-upload-spinner,.qq-upload-size,.qq-upload-cancel,.qq-upload-failed-text{margin-right:7px;}
.qq-upload-spinner{display:inline-block;background:url("../images/loading.gif");width:15px;height:15px;vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel{font-size:10px;}
.qq-upload-failed-text{display:none;}
.qq-upload-fail .qq-upload-failed-text{display:inline;}
#file-uploader,.qq-uploader{width:auto;display:inline-block;}
.qq-upload-list{list-style:none;margin:0;font-size:11px;color:#999;}
.qq-upload-button{text-align:left;}
.qq-upload-button,.qq-upload-list{display:inline-block;vertical-align:middle;}
.import_skin{padding:20px;}
.upload_limit{display:none;font-size:10px;color:#aaa;vertical-align:middle;}

/*
===============================================================================================================
   Skin Generator Tab
=============================================================================================================== */

#ajax_feedback_skin_loader{display:none;margin-left:290px;margin-top:48px;}
.advanced_skin_option_set textarea{font-family:Consolas,Monaco,Courier,monospace;font-size:12px;width:100%;}
h3.trigger{margin:0;}
.trigger a{color:#464646;display:block;font:italic 19px/30px Georgia,"Times New Roman","Bitstream Charter",Times,serif;padding:12px 11px 14px 0;text-decoration:none;text-indent:20px;text-shadow:0 1px 0 #fff;}
.trigger span{font-style:normal;font-size:16px;font-weight:bold;}
/* Manage Skins ------- */
.skin_generator_manage table{width:100%;background-color:#fff;border-color:#F7F7F7 #F7F7F7 #F2F2F2;border-style:solid;border-width:1px;margin-bottom:4px;padding:20px;border-collapse:collapse;}
.skin_generator_manage td{line-height:20px;font-size:12px;color:#666;padding:5px 20px;width:100%;}
.skin_generator_manage tr{border:1px solid #f4f4f4;}
.skin_generator_manage tr:nth-child(2n+1){background:#f8f8f8;}
.mysite_skin_edit a,.save_manage_skin{border-radius:11px;background:url(../images/button-grad.png) repeat-x scroll left top #21759B;border:1px solid #21759B;color:#FFFFFF;font-weight:bold;text-shadow:0 -1px 0 rgba(0,0,0,0.3);padding:3px 14px;font-size:11px !important;line-height:13px;cursor:pointer;}
.mysite_skin_edit a{text-decoration:none;color:#fff;}
.mysite_skin_edit a:hover{text-decoration:none;color:#eee;border-color:#000;}
.mysite_skin_export a,.mysite_skin_delete a,.mysite_skin_advanced a{color:#aaa;font-size:11px;}
.mysite_skin_delete a{background:url(../images/x.png) 0 2px no-repeat;padding-left:15px;}
.ajax_feedback_manage_skin{position:relative;left:10px;display:none;}
#mysite_skins_tab .mysite_option_header{width:100px;}
#mysite_skins_tab .mysite_option{width:460px;}
#mysite_skins_tab .mysite_select{margin-left:5px;width:80px;}
.background_option_set .mysite_select{margin-left:5px;width:80px!important;}
#mysite_skins_tab .mysite_colorselector,.background_option_set .mysite_colorselector{float:left;width:55px;margin-left:5px;font-size:11px;}
#mysite_skins_tab #style_variations{width:300px;vertical-align:middle;}
.ajax_feedback_activate_skin{padding:9px;display:none;vertical-align:middle;}
.ajax_feedback_activate_skin img{position:relative;top:1px;}
/* Save/Cancel Skin Edit ------- */
.edit_skin_save{padding:25px 20px;}
.edit_skin_button{display:inline-block;float: right;margin-right:86px;}
.save_manage_skin:hover{color:#eee;border-color:#000!important;}
.edit_skin_save .cancel_skin_edit{font-size:11px;background:url(../images/x.png) 2px 2px no-repeat;padding-left:15px;color:#aaa;}
.edit_skin_save .cancel_skin_edit:hover{cursor:pointer;text-decoration:underline;}
#custom_skin_name{width:280px;margin-right:5px;color:#aaa;}
.create_skin_save{overflow:hidden;}
.skin_generator_error{padding:25px;font-size:12px;}
.skin_generator_error .cancel_skin_edit{display:block;margin-top:20px;}
.ajax_feedback_save_skin{display:none;left:12px;position:relative;top:4px;}
/* Pattern Presets ------- */
.mysite_upload{margin-left:0;}
.pattern_images{background:#ab998f;border:2px outset #888;display:none;height:500px;left:0;overflow:auto;position:absolute;top:26px;width:262px;z-index:10;}
.single_pattern{font-size:0;color:transparent!important;display:block;height:40px;height:35px;position:relative;width:247px;z-index:20;}
.single_pattern:hover{background-color:#aaa;background-color:#eee;background-color:#21759B;background-color:#DFD6D1;background-color:#BFACA2;}
.pattern01,.pattern02,.pattern03,.pattern04,.pattern05,.pattern06,.pattern07,.pattern08,.pattern09,.pattern10,.pattern11,.pattern12,.pattern13,.pattern14,.pattern15,.pattern16,.pattern17,.pattern18,.pattern19,.pattern20,.pattern21,.pattern22,.pattern23,.pattern24,.pattern25,.pattern26,.pattern27,.pattern28,.pattern29,.pattern30,.pattern31,.pattern32{background:url(../images/patterns1.png) 0 0 no-repeat scroll transparent;}
.pattern33,.pattern34,.pattern35,.pattern36,.pattern37,.pattern38,.pattern39,.pattern40,.pattern41,.pattern42,.pattern43,.pattern44,.pattern45,.pattern46,.pattern47,.pattern48,.pattern49,.pattern50,.pattern51,.pattern52,.pattern53,.pattern54,.pattern55,.pattern56,.pattern57,.pattern58,.pattern59,.pattern60,.pattern61,.pattern62,.pattern63{background:url(../images/patterns2.png) 0 0 no-repeat scroll transparent;}
.pattern01{background-position:0 -0px;}
.pattern02{background-position:0 -40px;}
.pattern03{background-position:0 -80px;}
.pattern04{background-position:0 -120px;}
.pattern05{background-position:0 -160px;}
.pattern06{background-position:0 -200px;}
.pattern07{background-position:0 -240px;}
.pattern08{background-position:0 -280px;}
.pattern09{background-position:0 -320px;}
.pattern10{background-position:0 -360px;}
.pattern11{background-position:0 -400px;}
.pattern12{background-position:0 -440px;}
.pattern13{background-position:0 -480px;}
.pattern14{background-position:0 -520px;}
.pattern15{background-position:0 -560px;}
.pattern16{background-position:0 -600px;}
.pattern17{background-position:0 -640px;}
.pattern18{background-position:0 -680px;}
.pattern19{background-position:0 -720px;}
.pattern20{background-position:0 -760px;}
.pattern21{background-position:0 -800px;}
.pattern22{background-position:0 -840px;}
.pattern23{background-position:0 -880px;}
.pattern24{background-position:0 -920px;}
.pattern25{background-position:0 -960px;}
.pattern26{background-position:0 -1000px;}
.pattern27{background-position:0 -1040px;}
.pattern28{background-position:0 -1080px;}
.pattern29{background-position:0 -1120px;}
.pattern30{background-position:0 -1160px;}
.pattern31{background-position:0 -1200px;}
.pattern32{background-position:0 -1240px;}
.pattern33{background-position:0 -0px;}
.pattern34{background-position:0 -40px;}
.pattern35{background-position:0 -80px;}
.pattern36{background-position:0 -120px;}
.pattern37{background-position:0 -160px;}
.pattern38{background-position:0 -200px;}
.pattern39{background-position:0 -240px;}
.pattern40{background-position:0 -280px;}
.pattern41{background-position:0 -320px;}
.pattern42{background-position:0 -360px;}
.pattern43{background-position:0 -400px;}
.pattern44{background-position:0 -440px;}
.pattern45{background-position:0 -480px;}
.pattern46{background-position:0 -520px;}
.pattern47{background-position:0 -560px;}
.pattern48{background-position:0 -600px;}
.pattern49{background-position:0 -640px;}
.pattern50{background-position:0 -680px;}
.pattern51{background-position:0 -720px;}
.pattern52{background-position:0 -760px;}
.pattern53{background-position:0 -800px;}
.pattern54{background-position:0 -840px;}
.pattern55{background-position:0 -880px;}
.pattern56{background-position:0 -920px;}
.pattern57{background-position:0 -960px;}
.pattern58{background-position:0 -1000px;}
.pattern59{background-position:0 -1040px;}
.pattern60{background-position:0 -1080px;}
.pattern61{background-position:0 -1120px;}
.pattern62{background-position:0 -1160px;}
.pattern63{background-position:0 -1200px;}
.pattern64{background-position:0 -1240px;}
/* Fonts ------- */
.font_select,.fontiehack{height:32px;left:360px;position:absolute;top:0px;width:84px;z-index:20000000;}
.font_images{background:#bbb;border:1px solid #ddd;display:none;height:330px;left:191px;overflow:auto;position:absolute;top:25px;width:250px;z-index:10;}
.single_font{background:url(../images/fontlist.png) 0 0 no-repeat scroll #fff;color:#555;font-size:14px;text-indent:10px;display:block;height:25px;line-height:24px;position:relative;width:234px;z-index:20;}
.single_font:hover{opacity:.9;}
.arial,.verdana,.lucida,.georgia,.timesnewroman,.trebuchet,.couriernew,.impact,.tahoma,.palatino,.gillsans,.copperplatelight,.futura,.inherit{color:transparent!important;background-image:url(../images/fontlist_websafe.png);font-size:0;}
.arial{background-position:0 0px;}
.verdana{background-position:0 -25px;}
.lucida{background-position:0 -50px;}
.georgia{background-position:0 -75px;}
.timesnewroman{background-position:0 -100px;}
.trebuchet{background-position:0 -125px;}
.couriernew{background-position:0 -150px;}
.impact{background-position:0 -175px;}
.tahoma{background-position:0 -200px;}
.palatino{background-position:0 -225px;}
.gillsans{background-position:0 -250px;}
.copperplatelight{background-position:0 -275px;}
.futura{background-position:0 -300px;}
.inherit{background-position:0 -325px;}
.airplanesinthenightsky,.alexandria,.arvo,.bebas,.boycott,.champagne,.chunkfive,.colaboratebold,.colaboratelight,.colaboratemedium,.colaborateregular,.colaboratethin,.daniel,.dejavu,.garogier,.geosanslight,.imperator,.klill,.leaguegothic,.lindenhill,.lindenhillitalic,.lobster,.morethanenough,.mpluslight,.pacifico,.parisian,.philosopher,.ptsans,.quicksandbold,.quicksandbook,.quicksandlight,.rawengulk,.rawengulkbold,.sansationbold,.sansationlight,.sansationregular,.searstower,.segan,.tangerine,.tenderness,.titilliumlight,.typewriter,.nixieone,.uppereastside,.vegur,.vegurbold,.vegurlight,.walkway,.windsong,.kreon,.kreonlight{font-size:0;color:transparent!important;}
.airplanesinthenightsky{background-position:0 -25px;}
.alexandria{background-position:0 -50px;}
.arvo{background-position:0 -75px;}
.bebas{background-position:0 -100px;}
.boycott{background-position:0 -125px;}
.champagne{background-position:0 -150px;}
.chunkfive{background-position:0 -175px;}
.colaboratethin{background-position:0 -200px;}
.colaboratelight{background-position:0 -225px;}
.colaborateregular{background-position:0 -250px;}
.colaboratemedium{background-position:0 -275px;}
.colaboratebold{background-position:0 -300px;}
.daniel{background-position:0 -325px;}
.dejavu{background-position:0 -350px;}
.garogier{background-position:0 -375px;}
.geosanslight{background-position:0 -400px;}
.imperator{background-position:0 -425px;}
.klill{background-position:0 -450px;}
.leaguegothic{background-position:0 -475px;}
.lindenhill{background-position:0 -500px;}
.lindenhillitalic{background-position:0 -525px;}
.lobster{background-position:0 -550px;}
.morethanenough{background-position:0 -575px;}
.mpluslight{background-position:0 -600px;}
.pacifico{background-position:0 -625px;}
.parisian{background-position:0 -650px;}
.philosopher{background-position:0 -675px;}
.ptsans{background-position:0 -700px;}
.quicksandlight{background-position:0 -725px;}
.quicksandbook{background-position:0 -750px;}
.quicksandbold{background-position:0 -775px;}
.rawengulk{background-position:0 -800px;}
.rawengulkbold{background-position:0 -825px;}
.sansationlight{background-position:0 -850px;}
.sansationregular{background-position:0 -875px;}
.sansationbold{background-position:0 -900px;}
.searstower{background-position:0 -925px;}
.segan{background-position:0 -950px;}
.tangerine{background-position:0 -975px;}
.tenderness{background-position:0 -1000px;}
.titilliumlight{background-position:0 -1025px;}
.typewriter{background-position:0 -1050px;}
.nixieone{background-position:0 -1075px;}
.uppereastside{background-position:0 -1100px;}
.vegur{background-position:0 -1125px;}
.vegurbold{background-position:0 -1150px;}
.vegurlight{background-position:0 -1175px;}
.walkway{background-position:0 -1200px;}
.windsong{background-position:0 -1225px;}
.kreon{background-position:0 -1250px;}
.kreonlight{background-position:0 -1275px;}