/*-------------------------------------------------------------------------------------------*/
/* Nav Menu */
/*-------------------------------------------------------------------------------------------*/
#nav-menus-frame{margin-left:300px;}
#wpbody-content #menu-settings-column{display:inline;width:281px;margin-left:-300px;clear:both;float:left;padding-top:24px;}
.no-js #wpbody-content #menu-settings-column{padding-top:31px;}
#menu-settings-column .inside{clear:both;padding:0 10px;}
.metabox-holder-disabled .postbox{opacity:.5;filter:alpha(opacity=50);}
.metabox-holder-disabled .button-controls .select-all{display:none;}
#wpbody{position:relative;}
#menu-management-liquid{float:left;min-width:100%;}
#menu-management{position:relative;margin-right:20px;margin-top:-3px;width:100%;}
#menu-management .menu-edit{margin-bottom:20px;}
#nav-menu-header,#post-body{border-color:#ccc;border-style:solid;}
#nav-menu-header{border-width:1px 1px 0 1px;border-top-left-radius:6px;border-top-right-radius:6px;}
#post-body{background:#fff;padding:10px;border-width:0 1px 1px 1px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;}
#post-body div.updated{margin:0;}
#post-body-content{position:relative;}
#menu-management .menu-add-new abbr{font-weight:bold;}
#menu-management .nav-tabs-nav{margin:0 20px;}
#menu-management .nav-tabs-arrow{width:10px;padding:0 5px 4px;cursor:pointer;position:absolute;top:0;line-height:22px;font-size:18px;text-shadow:0 1px 0 #fff;}
#menu-management .nav-tabs-arrow a{color:#C1C1C1;}
#menu-management .nav-tabs-arrow a:hover{color:#D54E21;}
#menu-management .nav-tabs-arrow a:active{color:#464646;}
#menu-management .nav-tabs-arrow-left{left:0;}
#menu-management .nav-tabs-arrow-right{right:0;text-align:right;}
#menu-management .nav-tabs-wrapper{width:100%;height:28px;margin-bottom:-1px;overflow:hidden;}
#menu-management .nav-tabs{padding-left:20px;padding-right:10px;}
.js #menu-management .nav-tabs{float:left;margin-left:0;margin-right:-400px;}
#menu-management .nav-tab{margin-bottom:0;background:#f4f4f4;font-weight:bold;border-color:#dfdfdf;}
#menu-management .nav-tab-active{border-color:#ccc;}
#select-nav-menu-container{text-align:right;padding:0 10px 3px 10px;margin-bottom:5px;}
#select-nav-menu{width:100px;display:inline;}
#menu-name-label{margin-top:-2px;}
#wpbody .open-label{display:block;float:left;}
#wpbody .open-label span{padding-right:10px;}
.js .input-with-default-title{color:#aaa;font-style:italic;}
#menu-management .inside{padding:0 10px;}
.postbox .howto input{width:180px;float:right;}
.customlinkdiv .howto input{width:210px;}
#nav-menu-theme-locations .howto select{width:100%;}
#nav-menu-theme-locations .button-controls{text-align:right;}
.add-menu-item-view-all{height:400px;}
#menu-container .submit{margin:0 0 10px;padding:0;}
.meta-sep,.submitdelete,.submitcancel{display:block;float:left;font-size:11px;margin:4px 0;line-height:15px;}
.meta-sep{padding:0 2px;}
#cancel-save{color:#f00;text-decoration:underline;font-size:11px;margin-left:20px;margin-top:5px;}
#cancel-save:hover{background-color:#F00;color:#fff;}
.list-controls{float:left;margin-top:5px;}
.add-to-menu{float:right;}
.postbox img.waiting{display:none;vertical-align:middle;}
.button-controls{clear:both;margin:10px 0;}
.show-all,.hide-all{cursor:pointer;}
.hide-all{display:none;}
#menu-name{width:270px;}
#manage-menu .inside{padding:0;}
#available-links dt{display:block;}
#add-custom-link .howto{font-size:11px;}
#add-custom-link label span{display:block;float:left;margin-top:5px;padding-right:5px;}
.menu-item-textbox{width:180px;}
.howto span{margin-top:4px;display:block;float:left;}
.quick-search{width:190px;}
.list-wrap{display:none;clear:both;margin-bottom:10px;}
.list-container{max-height:200px;overflow-y:auto;padding:10px 10px 5px;border:1px solid #DFDFDF;border-radius:4px;}
.postbox p.submit{margin-bottom:0;}
.list li{display:none;margin:0;margin-bottom:5px;}
.list li .menu-item-title{cursor:pointer;display:block;}
.list li .menu-item-title input{margin-right:3px;margin-top:-3px;}
#menu-container .inside{padding-bottom:10px;}
.menu{padding-top:1em;}
#menu-to-edit{padding:1em 0;}
.menu ul{width:100%;}
.menu li{margin-bottom:0;position:relative;}
.menu-item-bar{clear:both;line-height:1.5em;position:relative;margin-top:13px;}
.menu-item-handle{border:1px solid #E6E6E6;position:relative;padding-left:10px;height:auto;width:400px;line-height:35px;text-shadow:0 1px 0 #FFF;font-weight:bold;overflow:hidden;border-radius:6px;word-wrap:break-word;}
.menu-item-edit-active .menu-item-handle{border-radius:6px 6px 0 0;border-bottom-right-radius:0;border-bottom-left-radius:0;}
.no-js .menu-item-edit-active .item-edit{display:none;}
.js .menu-item-handle{cursor:move;}
.menu li.deleting .menu-item-handle{background-color:#f66;background-image:none;text-shadow:0 0 0 #ccc;}
.menu-item-handle .item-title{padding:7px 0;line-height:20px;display:block;margin-right:13em;}
li.menu-item.ui-sortable-helper dl{margin-top:0;}
li.menu-item.ui-sortable-helper .menu-item-transport dl{margin-top:13px;}
.menu .sortable-placeholder{height:35px;width:410px;margin-top:13px;}
.menu-item-depth-0{margin-left:0;}
.menu-item-depth-1{margin-left:30px;}
.menu-item-depth-2{margin-left:60px;}
.menu-item-depth-3{margin-left:90px;}
.menu-item-depth-4{margin-left:120px;}
.menu-item-depth-5{margin-left:150px;}
.menu-item-depth-6{margin-left:180px;}
.menu-item-depth-7{margin-left:210px;}
.menu-item-depth-8{margin-left:240px;}
.menu-item-depth-9{margin-left:270px;}
.menu-item-depth-10{margin-left:300px;}
.menu-item-depth-11{margin-left:330px;}
.menu-item-depth-0 .menu-item-transport{margin-left:0;}
.menu-item-depth-1 .menu-item-transport{margin-left:-30px;}
.menu-item-depth-2 .menu-item-transport{margin-left:-60px;}
.menu-item-depth-3 .menu-item-transport{margin-left:-90px;}
.menu-item-depth-4 .menu-item-transport{margin-left:-120px;}
.menu-item-depth-5 .menu-item-transport{margin-left:-150px;}
.menu-item-depth-6 .menu-item-transport{margin-left:-180px;}
.menu-item-depth-7 .menu-item-transport{margin-left:-210px;}
.menu-item-depth-8 .menu-item-transport{margin-left:-240px;}
.menu-item-depth-9 .menu-item-transport{margin-left:-270px;}
.menu-item-depth-10 .menu-item-transport{margin-left:-300px;}
.menu-item-depth-11 .menu-item-transport{margin-left:-330px;}
body.menu-max-depth-0{min-width:950px!important;}
body.menu-max-depth-1{min-width:980px!important;}
body.menu-max-depth-2{min-width:1010px!important;}
body.menu-max-depth-3{min-width:1040px!important;}
body.menu-max-depth-4{min-width:1070px!important;}
body.menu-max-depth-5{min-width:1100px!important;}
body.menu-max-depth-6{min-width:1130px!important;}
body.menu-max-depth-7{min-width:1160px!important;}
body.menu-max-depth-8{min-width:1190px!important;}
body.menu-max-depth-9{min-width:1220px!important;}
body.menu-max-depth-10{min-width:1250px!important;}
body.menu-max-depth-11{min-width:1280px!important;}
.item-type{text-transform:uppercase;font-size:11px;color:#999;padding-right:10px;}
.item-controls{font-size:11px;position:absolute;right:20px;top:-1px;}
.item-controls a{text-decoration:none;}
.item-controls a:hover{cursor:pointer;}
.item-controls .item-order{padding-right:10px;}
.item-controls .item-order a{font-weight:bold;}
body.js .item-order{display:none;}
.item-controls .menu-item-delete:hover{color:#f00;}
.item-edit {background:url("../images/arrows.png") no-repeat scroll 8px 10px transparent;border-bottom-color:#EEEEEE;border-bottom:1px solid;border-bottom-left-radius:3px;display:block;height:36px;overflow:hidden;position:absolute;right:-20px;text-indent:-999em;top:0;width:30px;}
.menu-instructions-inactive{display:none;}
.menu-item-settings{background:#F9F9F9;display:block;width:400px;padding:10px 0 10px 10px;border:solid #E6E6E6;border-width:0 1px 1px 1px;border-radius:0 0 6px 6px;}
.add-menu-item-pagelinks{margin:.5em auto;text-align:center;}
.link-to-original{display:block;margin:0 0 10px;padding:3px 5px 5px;font-size:11px;color:#777;font-style:italic;border:1px solid #dfdfdf;border-radius:6px;}
.link-to-original a{padding-left:4px;font-style:normal;}
.hidden-field{display:none;}
.menu-item-settings .description-thin,.menu-item-settings .description-wide{margin-right:10px;float:left;}
.description-thin{width:190px;height:40px;}
.description-wide{width:390px;}
.menu-item-actions{padding-top:15px;}
#cancel-save{cursor:pointer;}
#cancel-save:hover{color:#fff!important;}
#update-menu-item{color:#fff!important;}
#update-menu-item:hover,#update-menu-item:active,#update-menu-item:focus{color:#eaf2fa!important;border-color:#13455b!important;}
.major-publishing-actions{clear:both;padding:5px 10px;}
.major-publishing-actions .publishing-action{text-align:right;float:right;line-height:23px;margin:5px 0 1px;}
.major-publishing-actions .delete-action{vertical-align:middle;text-align:left;float:left;padding-right:15px;margin-top:5px;}
.menu-name-label span,.auto-add-pages label{font-size:11px;font-style:normal;}
.menu-name-label{margin-right:15px;}
.auto-add-pages input{margin-top:0;}
.auto-add-pages{margin-top:4px;float:left;}
.submitbox .submitcancel{color:#21759B;border-bottom:1px solid #21759B;padding:1px 2px;text-decoration:none;}
.submitbox .submitcancel:hover{background:#21759B;color:#fff;}
.major-publishing-actions .form-invalid{border-radius:4px;padding-left:4px;margin-left:-4px;}
#menu-item-name-wrap:after,#menu-item-url-wrap:after,#menu-name-label:after,#menu-settings-column .inside:after,#nav-menus-frame:after,#post-body-content:after,.button-controls:after,.major-publishing-actions:after,.menu-item-settings:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
#nav-menus-frame,.button-controls,#menu-item-url-wrap,#menu-item-name-wrap{display:block;}
