/*
Theme Name: Dejavu
Theme URI: https://dejavu.backstopthemes.com
Description: A simple and enduring responsive WordPress Theme
Author: BackStop Themes
Author URI: https://backstopthemes.com
Version: 2.8.6
Text Domain: backstop-themes
License:     GPL2
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, footer-widgets, flexible-header, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog
*/

/*  TOC 
01. GENERAL TYPOGRAPHY 
02. STRUCTURE
03. MENU
04. POST LISTS & GRIDS
05. SINGULAR POSTS
06. WIDGETS & SHORTCODES
07. SLIDERS
08. PROGRESSIVE ENHANCEMENTS
09. RESPONSIVENESS & MOBILE
*/

/*
===============================================================================================================
01. GENERAL TYPOGRAPHY
=============================================================================================================== */

/* Global Reset
-------------------------------------------------------------- */
html,body,div,form,fieldset,input,textarea,h1,h2,h3,h4,h5,h6,p,ul,ol,li{vertical-align:baseline;font-size:100%;padding:0;margin:0;}
h1,h2,h3,h4,h5,h6,p,ul,ol{margin-bottom:20px;}
input,textarea{font-family:inherit;padding:4px;}
img,fieldset{border:0;}
body{letter-spacing:.2px;word-spacing:0.75px;line-height:20px;font-size:12px;}
a,a:hover,a:active,a:focus{text-decoration:none;outline:0 none;outline-style:none;}
ol{list-style:decimal outside;}
ul{list-style:disc outside;}
ul,ol{padding-left:25px;}
li ol,li ul{margin-bottom:0;}

/* Headers
-------------------------------------------------------------- */
h1{font-size:34px;line-height:120%;}
h2{font-size:30px;line-height:133%;}
h3{font-size:24px;line-height:150%;}
h4{font-size:16px;line-height:150%;}
h5{font-size:14px;letter-spacing:2px;text-transform:uppercase;}
h6{font-size:10px;letter-spacing:3px;text-transform:uppercase;}
.intro_title{font-size:34px;line-height:120%;}
.teaser,#outro{font-size:15px;line-height:166%;}
h4+h6{margin-top:-10px;}

/* Forms & Buttons
-------------------------------------------------------------- */
.textfield,.password,.textarea,#s,#comment{color:inherit;border:solid 1px rgba(180,180,180,0.2);border-top-color:rgba(0,0,0,.1);background:url(images/textfield.png) 0 0 repeat-x;padding:10px;}
.textarea,#comment{width:92%;font-size:12px;background:url(images/textarea.png) 0 0 repeat-x;overflow:auto;}
.textfield_label{margin-left:12px;}
.mysite_form .select{background:url(images/select.png) right top no-repeat;border:solid 1px rgba(180,180,180,0.2);border-top-color:rgba(0,0,0,.1);}
.colored_box,#submit,#searchsubmit,.button_link,.fancy_button,.titled_box_title,.dropcap4,.pullquote4{border-bottom:1px solid rgba(0,0,0,0.3) !important;border-left:1px solid rgba(0,0,0,0.2) !important;border-right:1px solid rgba(0,0,0,0.2) !important;}
#submit,#searchsubmit,.button_link,.fancy_button,.titled_box_title,.dropcap4{background:url(images/menu_overlay.png) repeat-x scroll 0 -2px;}
#searchsubmit{padding:10px 12px;}
#s{margin-right:-5px;width:135px;padding-left:15px;}
.left_sidebar #sidebar #s{width:80px;}
.left_sidebar #sidebar #searchsubmit{padding:10px 6px;}

/* Images & Galleria
-------------------------------------------------------------- */
.gallery .gallery-caption { color: #aaa; font-size: 10px; margin: 0 0 10px;}
.fancy_image_caption{bottom:-16px;}
#body_inner .galleria-container,
.fancy_images img,.wp-caption,#content .gallery img,.single_post_image img,.post_grid_image img,.post_list_image img,
.framed,.video_frame,.mysite_flickr_widget img,.avatar,.about_author_module .avatar{background:#f7f7f7;border:1px solid #fff;padding:6px;}
.mysite_flickr_widget img,.avatar,.about_author_module .avatar,.small_post_list .post_list_image img{float:left;margin:1px;padding:4px;}
#slider_module .video_frame{border:0;padding:0;}
/* galleria */
#body_inner .galleria-thumbnails .galleria-image{background:transparent;border:0;}
#body_inner .galleria-stage{top:5px!important;left:5px!important;right:5px!important;bottom:50px!important;}
#body_inner .galleria-thumbnails-container{bottom:5px!important;left:5px!important;right:5px!important;height:40px!important;}

/*
===============================================================================================================
02. STRUCTURE
=============================================================================================================== */

body{position:relative;min-width:992px;}
#body_inner{position:relative;width:980px;margin:0px auto;}
#header_inner,#intro_inner,#slider_inner,#breadcrumbs_inner,#outro_inner,#footer_inner{width:900px;margin:0 auto;}
#footer,#outro,#content,#slider_module,#intro,#primary_menu{background-color:#fff;margin-bottom:10px;}

/* Custom Backgrounds
-------------------------------------------------------------- */
body.has_custombg>.multibg>.multibg,body.has_custombg>.multibg{display:none;}

/* Header
-------------------------------------------------------------- */
#header{position:relative;height:75px;}
#header_extras{position:absolute;top:30px;right:0;}
.header_links{float:left;font-size:10px;}
.header_links ul{list-style:none;padding:0;margin:0;}
.header_links li{float:left;padding-left:12px;}
.header_links li ul{float:right;margin-right:0px;}
.header_social{float:right;margin-left:10px}
.header_social .social_icon{float:left;padding:0 4px;}
.header_social img,.logo img{vertical-align:bottom;}
.header_text{clear:both;display:block;padding-top:5px;text-align:right;}
.has_header_social.has_header_text #header_extras,.has_header_links.has_header_text #header_extras{top:20px;}
.logo{position:absolute;top:5px;left:0;line-height:70px;}
.logo a:hover{text-decoration:none;}

/* Intro & Breadcrumbs
-------------------------------------------------------------- */
#intro_inner{overflow:hidden;padding:20px 0;}
#intro .intro_title{margin:0;padding-top:5px;}
#intro .teaser,#intro h3{margin:0;padding:5px 0;}
#breadcrumbs{padding:5px 0;letter-spacing:1px;}
#breadcrumbs .delimiter{padding:0 5px;opacity:.5;}
.intro_title+#breadcrumbs{padding-top:0;}
/* Image Banner Intros */
.has_image_banner #intro_inner,.has_image_banner.squeeze_page #intro_inner{position:relative;width:auto;padding:0;border-radius:4px;}
.has_image_banner .image_banner{width:100%!important;height:auto!important;vertical-align:bottom;}
.has_image_banner .intro_title{background:rgba(0,0,0,.9);bottom:15%;padding:20px 40px;position:absolute;color:#eee;}
.image_banner_intro:after{content:"";position:absolute;height:100%;width:100%;top:0;left:0;box-shadow:0 1px 0 rgba(255,255,255,.4) inset;}
#intro .image_banner_intro .intro_title{position:absolute;bottom:0;left:0;right:0;padding:40px 40px 30px;color:#444;background:linear-gradient(to top,#fff,rgba(255,255,255,0.85),rgba(255,255,255,0.01));}
.mysite_responsive.has_image_banner #intro_inner{padding-right:0!important;padding-left:0!important;}
.mysite_responsive.has_image_banner #breadcrumbs{display:none}

/* Content
-------------------------------------------------------------- */
#main{min-height:250px;}
#content{overflow:hidden;}
#content_inner{padding:40px;}
.right_sidebar #main{float:left;width:620px;}
.right_sidebar #sidebar{float:left;width:280px;}
.right_sidebar #main_inner{margin-right:40px;}
.right_sidebar #content_inner{background-image:url(images/sidebar.png);background-repeat:repeat-y;background-position:660px 0;}
.left_sidebar #main{float:right;width:695px;}
.left_sidebar #sidebar{float:right;width:205px;}
.left_sidebar #main_inner{margin-left:40px;}
.left_sidebar #content_inner{background-image:url(images/sidebar.png);background-repeat:repeat-y;background-position:-754px 0;}

/* Footer
-------------------------------------------------------------- */
#outro p{margin-bottom:0;}
#outro_inner{overflow:hidden;padding:30px 0;}
#footer_inner{font-size:11px;padding-top:35px;padding-bottom:20px;}
#footer h4{font-size:12px;letter-spacing:2px;margin-bottom:10px;text-transform:uppercase;}
#sub_footer_inner{min-height:30px;}
#sub_footer a:hover{text-decoration:none;}
.copyright_text{float:left;}
.footer_links{float:right;}
.footer_links li{float:left;padding-right:12px;}
.footer_links ul{list-style:none;padding:0;margin:0;}
.footer_links ul ul{float:right;margin-right:0px;}
.no_footer #footer{display:none;}

/* Squeeze Page
-------------------------------------------------------------- */
.squeeze_page #body_inner{width:800px;min-width:800px;margin:0 auto;}
.squeeze_page #intro_inner{width:auto;padding:20px 40px;}

/*
===============================================================================================================
03. Menu
=============================================================================================================== */

#primary_menu{position:relative;padding:1px 25px;}
.jqueryslidemenu{position:relative;z-index:2000;line-height:20px;letter-spacing:.75px;}
.jqueryslidemenu ul{margin:0;padding:0;list-style-type:none;}
.jqueryslidemenu li{float:left;list-style:none;position:relative;display:inline;float:left;margin:0;list-style:none;}
.jqueryslidemenu li a{display:block;padding:15px;text-transform:uppercase;}
.jqueryslidemenu li a:hover{text-decoration:none;}
.jqueryslidemenu ul ul{top:30px;position:absolute;display:block;visibility:hidden;background:url(images/black25.png) repeat 0 0;width:200px;}
.jqueryslidemenu ul ul ul{top:0px;left:20px;z-index:2001;}
.jqueryslidemenu li li{display:list-item;float:none;padding:0px 0px;}
.jqueryslidemenu li li a{width:170px;margin:0;padding:7px 15px;height:100%;font-size:11px;}
.jqueryslidemenu ul li ul li a:hover{background:url(styles/_rgba/black10.png);}
.jqueryslidemenu ul li a:hover,.jqueryslidemenu ul li:hover a{background:url(images/hover_top_level.png) repeat-x 0 0;}
.jqueryslidemenu ul li:hover li a{background:none;}
.jqueryslidemenu li small{display:none;}
.ie .jqueryslidemenu ul ul{border-left:1px solid transparent;border-right:1px solid transparent;}

/* Fancy Search
-------------------------------------------------------------- */
#fancy_search #s{border:none;background:none;}
#fancy_search{height:26px;position:absolute;right:24px;top:13px;z-index:2002;}
#fancy_search form .submit{background:url(images/search.png) no-repeat center center;border:0;cursor:pointer;float:right;height:26px;padding:0;position:relative;text-indent:-999em;width:26px;}
#fancy_search form .text{background:none;color:#eee;padding:6px 10px;float:left;}
.text:focus{outline:none;}

/*
===============================================================================================================
04. BLOG
=============================================================================================================== */

.post_module{margin-bottom:40px;}
.post_grid_content{position:relative;}
.bypostauthor {background-color: #aaa;}
.sticky {background: #f0f0f0; padding: 10px;}

/* Specific Layouts
-------------------------------------------------------------- */
.blog_layout1 .post_grid_module{margin:0 -40px 40px;padding:0px 40px 20px;position:relative;background:url(images/thick_divider.png) repeat-x center bottom;}
.blog_layout2 .post_list_image,.medium_post_list .post_list_image{margin-right:40px;}
.small_post_list .post_title{font-size:14px;}
.portfolio .post_title+.date{color:#bbb;font-size:9px;letter-spacing:1.4px;margin-top:-15px;}

/* Comment Bubble
-------------------------------------------------------------- */
.post_title{padding-right:35px;}
.post_comments_bubble{background:url(images/comment_bubble.png) no-repeat top right;height:30px;position:absolute;right:0;text-align:center;top:6px;width:31px;}
.post_comments_bubble a{font-size:10px;line-height:24px;}

/* Meta
-------------------------------------------------------------- */
.post_meta span,.post_meta_bottom span{font-size:9px;line-height:15px;letter-spacing:1.4px;}
.post_meta em,.post_meta_bottom em{font-style:normal;}
.post_meta span{display:inline-block;}
.post_meta_bottom span{display:block;}

/* More Link
-------------------------------------------------------------- */
.post_more_link:hover,.fancy_link:hover{text-decoration:none;}
.post_more_link_a:hover,.fancy_link_a:hover{text-decoration:underline;}
.post_more_link,.fancy_link{margin-right:10px;}
.post_more_link_arrow,.fancy_link_arrow{border-bottom:4px solid transparent!important;border-left:5px solid;border-top:4px solid transparent!important;height:0 !important;margin-left:5px;display:inline-block;vertical-align:baseline;}

/*
===============================================================================================================
05. SINGULAR POSTS
=============================================================================================================== */

/* Portfolio Single
-------------------------------------------------------------- */
.portfolio .single_post_image{margin-bottom:40px;}
.full_width .portfolio .single_post_image a,.full_width .portfolio .single_post_image .video_frame{margin-left:-40px;margin-top:-40px;}
.full_width .portfolio .single_post_image img,.full_width .portfolio .single_post_image .video_frame{border:0px;background:none;padding:0px;}

/* Single Post Module
-------------------------------------------------------------- */
.single_post_module{margin-bottom:50px;}
.single_post_image{margin-bottom:20px;}
.single_post_content{position:relative;}
.single_post_module .post_title{margin-bottom:10px;padding-right:30px;font-size:30px;}
.single_post_module .post_meta{margin-bottom:20px;line-height:15px;}

/* Post Nav Module
-------------------------------------------------------------- */
.post_nav_module{margin-bottom:30px;overflow:hidden;}
.previous_post{float:left;}
.next_post{text-align:right;}
.previous_post a:before,.next_post a:after{content:" ";border-bottom:4px solid transparent!important;border-top:4px solid transparent!important;height:0 !important;display:inline-block;vertical-align:baseline;}
.previous_post a:before{border-right:5px solid;margin-right:5px;}
.next_post a:after{border-left:5px solid;margin-left:5px;}

/* Share This Module
-------------------------------------------------------------- */
.share_this_module{margin-bottom:0;background:url(images/thick_divider.png) repeat-x scroll 0 -4px transparent;margin-left:-40px;margin-right:-40px;padding:60px 35px 15px;position:relative;}
.share_this_title{display:inline-block;margin-right:20px;margin-bottom:0;}
.share_this_content,.share_this_content:after{display:inline-block;}
.post_sociable{margin-right:10px;vertical-align:bottom;}

/* About Author Module
-------------------------------------------------------------- */
.about_author_module{margin:30px 0;border:1px solid #fff;color:#888;}
.about_author_content{position:relative;overflow:hidden;clear:both;padding:20px;border-top:1px solid #eee;}
.about_author_title{font-size:12px;line-height:30px;text-transform:uppercase;letter-spacing:1px;border-bottom:1px solid #fff;margin:0;padding:3px 3px 3px 20px;text-transform:uppercase;background:#f3f3f3 url(images/th.png) 0 0 repeat-x;}
.author_bio{color:#888;margin-bottom:0;overflow:hidden;}
.author_name{display:block;font-size:14px;font-weight:normal;color:#666;margin-bottom:5px;}
.about_author_module .avatar{float:left;margin-right:20px;}
.about_author_module .fancy_link{display:block;margin-top:5px;}

/* Blog Tabs
-------------------------------------------------------------- */
.blog_tabs{list-style-type:none;font-size:11px;letter-spacing:1px;clear:left;height:30px;margin:0;padding:0;}
.blog_tabs li{float:left;}
.blog_tabs a{border-bottom:0 none;float:left;height:18px;top:1px;padding:4px 0;margin-right:20px;display:block;text-decoration:none;position:relative;text-transform:uppercase;letter-spacing:1px;font-size:10px;}
.blog_tabs a:hover{color:#888;text-decoration:none;}
.blog_tabs a.current{color:#eee;padding:4px 16px;cursor:default;border:1px solid;background:url(images/menu_overlay.png) repeat-x 0 -10px;}
.blog_tabs_content{padding:30px 0 0;overflow:visible;}
.blog_tabs_content .post_title{font-size:12px;line-height:20px;}
.blog_tabs_content .one_fourth,.blog_tabs_content .post_grid_module{margin-bottom:0;}

/* Additional Posts Module
-------------------------------------------------------------- */
.additional_posts_module,#comments{background:url(images/thick_divider.png) repeat-x 0 -4px;margin-left:-40px;margin-right:-40px;padding:65px 35px 15px;position:relative;}
.additional_posts_module img.framed{padding:4px;}
.additional_posts_module .post_grid{margin-bottom:0;}
.additional_posts_module .post_title{font-size:13px;line-height:20px;padding-right:0;}
.additional_posts_module .post_grid_image{margin-bottom:5px;}

/* Threaded Comments
-------------------------------------------------------------- */
#comments .date{font-size:9px;letter-spacing:1px;line-height:10px;text-transform:uppercase;padding:2px 8px;color:#bbb;text-shadow:1px 1px 1px #fff;}
.commentlist cite{font-style:normal;padding-right:14px;font-size:14px;}
.commentlist{margin:0;padding:0;}
.commentlist li{margin-left:0;list-style:none;padding-top:20px;overflow:hidden;clear:both;}
.commentlist li li{margin-left:20px;}
.commentlist .children{padding:0;}
.comment-text{left:0;margin:10px 0;min-height:80px;overflow:hidden;padding-left:20px;position:relative;}
.comment-text p{margin-bottom:5px;padding-top:5px;}
.comment-text li{border:none!important;padding:2px;margin:0;}
.comment-text ol li{list-style:decimal;overflow:visible;}
.commentmetadata a{float:right;font-size:10px;text-transform:lowercase;margin-left:5px;}
.commentmetadata a:before{content:"(";}
.commentmetadata a:after{content:")";}

/* Reply Form
-------------------------------------------------------------- */
#commentform{padding-top:20px;}
#respond{padding-bottom:20px;padding-top:30px;}
#commentform #email,#commentform #author,#commentform #url{width:250px;}
#cancel-comment-reply-link{font-size:9px;padding-left:2px;text-transform:uppercase;line-height:15px;}
#cancel-comment-reply-link:hover{text-decoration:none!important;}

/*
===============================================================================================================
06. WIDGETS & SHORTCODE OVERRIDES
=============================================================================================================== */

/* General
-------------------------------------------------------------- */
.widget ul{margin:0;padding:0;list-style:none;}
#sidebar .widget{padding:0 35px 40px 30px;overflow:hidden;position:relative;background:url(images/sidebar_divider.png) repeat-x left bottom;margin-bottom:30px;margin-right:-40px;}
.left_sidebar #sidebar .widget{width:180px;padding:0 30px 40px 35px;background:url(images/sidebar_divider.png) repeat-x left bottom;margin-left:-40px;}
/* Footer */
#footer .widget{overflow:hidden;padding-bottom:30px;position:relative;}
#footer .widget li{background-image:none;padding:2px 0;}
#footer .avatar,
#footer .mysite_flickr_widget img,
#footer .post_grid_image img,
#footer .post_list_image img,
#footer .framed{background:rgba(200,200,200,.2);border:1px solid rgba(200,200,200,.2);padding:3px;}
#footer .mysite_twitter_widget li,#footer .widget_recent_comments .recentcomments{padding-left:25px;background-image:url(images/shortcodes/sprites/custom_sprite_dddddd.png);}

/* Archives ETC.
-------------------------------------------------------------- */
.activation_link_list li,
.widget_archive li,.widget_categories li,.widget_links li,.widget_nav_menu li,.widget_pages li,.mysite_subnav_widget li,.widget_recent_entries li{padding-left:20px;background:url(images/shortcodes/sprites/custom_sprite_dddddd.png) no-repeat -309px -315px;}
.right_sidebar #sidebar .widget_archive li,
.right_sidebar #sidebar .widget_categories li,
.right_sidebar #sidebar .widget_links li{width:105px;float:left;margin-left:5px;}
.right_sidebar #sidebar .widget_archive ul,
.right_sidebar #sidebar .widget_categories ul,
.right_sidebar #sidebar .widget_links ul{margin-left:-5px;}

/* Misc.
-------------------------------------------------------------- */
#intro .tweet{background:url(images/twitter.png) no-repeat 0 4px!important; padding-left:35px;display:block;}
#intro .tweet:hover,.mysite_twitter_widget a:hover{text-decoration:none;}
#outro .mysite_twitter_widget li { background:url(images/twitter.png) no-repeat 0 10px!important; padding-left:35px;}
.tabs_vertical_frame,.featured_tabs_frame{width:205px;}
.featured_tabs_content{padding-left:40px;}
.mysite_jcarousel_blog .post_grid_image img,.mysite_jcarousel_blog .video_frame,
.mysite_jcarousel_portfolio .post_grid_image img,.mysite_jcarousel_portfolio .video_frame{margin:1px;padding:5px;}

/*
===============================================================================================================
07. SLIDERS
=============================================================================================================== */

#slider_module{clear:both;position:relative;width:980px;overflow:hidden;}
#slider_module_inner{margin:0 auto;width:980px;}
/* Fading */
#mysite_fading_slider{margin:0 auto;overflow:hidden;position:relative;}
.slider_nav_thumb #mysite_fading_slider{height:480px;}
#fading_slides{cursor:pointer;position:relative;height:460px;width:980px;}
.single_fading_slide{width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden;}
/* Scrolling */
#mysite_scrolling_slider{overflow:hidden;height:460px;width:980px;position:relative;}
.slider_nav_thumb #mysite_scrolling_slider{height:487px;}
#scrolling_slides{width:9999em;position:absolute;height:100%;}
.single_scrolling_slide{float:left;position:relative;width:980px;height:100%;overflow:hidden;}
/* Nivo */
#mysite_nivo_slider{margin:0;}
#mysite_nivo_slider .nivo-controlNav{position:absolute;text-align:center;bottom:10px;width:100%;padding:0;}
#mysite_nivo_slider .nivo-controlNav a{float:none;display:inline-block;background:url(images/sliders/nav_dots_sprite.png) 0px 0px no-repeat;}
#mysite_nivo_slider .nivo-controlNav a.active {background-position: 0 -34px;}

/* Slider Nav
-------------------------------------------------------------- */
.slider_nav{z-index:1001;}
/* Nav Thumbs */
.slider_nav_thumb .slider_nav{background:url(images/sliders/tabbed_slider_nav.png) repeat-x scroll left bottom transparent;height:84px;left:0;padding-left:30px;position:absolute;top:403px;width:950px;}
.slider_nav_thumb .slider_nav a{cursor:pointer;display:block;float:left;margin-right:0;margin-top:0;padding-left:10px;padding-right:10px;padding-top:28px;text-align:center;}
.slider_nav_thumb .slider_nav a.current{background:url(images/sliders/active_tab.png) no-repeat center top;border-color:#aaa;}
.slider_nav_thumb .slider_nav a:hover img,.slider_nav_thumb .slider_nav a.current img{opacity:.7;}
/* Nav Dots */
.slider_nav_dots .slider_nav{bottom:5px;height:25px;margin:0 auto;position:absolute;text-align:center;z-index:100;width:100%;}
.slider_nav_dots .slider_nav a{width:20px;height:20px;margin:2px;background:url(images/sliders/nav_dots_sprite.png) 0px 0px no-repeat transparent;display:inline-block;font-size:1px;}
.slider_nav_dots .slider_nav a:hover {opacity:.7;}
.slider_nav_dots .slider_nav .current {background-position:0 -34px;}

/* Stageing Effects
-------------------------------------------------------------- */
.slide_title{font-size:33px;color:#999;line-height:110%;}
.slide_content{color:#aaa;font-size:15px;height:315px;left:75px;line-height:25px;overflow:hidden;position:absolute;top:70px;width:330px;z-index:5;}
.slide_overlay{z-index:3;position:absolute;}
.positioning{z-index:1;float:right;margin-top:35px;margin-right:40px;}
/* Raw/Full */
#slider_module_inner .raw_html .slide_content{height:100%;width:100%;top:0;left:0;}
#slider_module_inner .full_slide .slide_content{height:315px;left:40px;position:absolute;top:30px;width:900px;}
#slider_module_inner .full_slide .slide_image{width:980px;height:420px;}
#slider_module_inner .full_slide .positioning{margin:0;}
/* Floating */
#slider_module_inner .floating_slide{background:url(images/sliders/floating.png) center top no-repeat;}
/* Staged */
#slider_module_inner .staged_slide{background:url(images/sliders/staged.png) center top no-repeat;}
/* Overlay */
#slider_module_inner .overlay_slide{background:url(images/sliders/staged.png) center top no-repeat;}
#slider_module_inner .overlay_slide .slide_overlay{background:#000;height:350px;left:40px;top:35px;width:400px;opacity:.85;border-right:1px solid rgba(0,0,0,.06)}
#slider_module_inner .overlay_slide .slide_content{color:#eee;}
#slider_module_inner .overlay_slide .slide_title{color:#fff;}
/* Partial Staged */
#slider_module_inner .partial_staged_slide{background:url(images/sliders/partial_staged.png) center top no-repeat;}
#slider_module_inner .partial_staged_slide .positioning{margin-top:36px;}
#slider_module_inner .partial_staged_slide .slide_content{left:40px;top:40px;width:293px;height:380px;}
/* Partial Staged L */
#slider_module_inner .partial_staged_slideL{background:url(images/sliders/partial_stagedL.png) center top no-repeat;}
#slider_module_inner .partial_staged_slideL .positioning{float:left;margin:36px 0 0 40px;}
#slider_module_inner .partial_staged_slideL .slide_content{left:auto;right:40px;top:40px;width:293px;height:380px;}
/* Partial Gradient */
#slider_module_inner .partial_gradient_slide{background:url(images/sliders/staged.png) center top no-repeat;}
#slider_module_inner .partial_gradient_slide .slide_content{color:#eee;}
#slider_module_inner .partial_gradient_slide .slide_title{color:#fff;}
#slider_module_inner .partial_gradient_slide .slide_overlay{height:350px;left:40px;top:35px;width:400px;border-right:1px solid rgba(0,0,0,.1)}

/*
===============================================================================================================
08. PROGRESSIVE ENHANCEMENTS
=============================================================================================================== */

/* Border Radius 
-------------------------------------------------------------- */
#comments .date,
.fancy_header span{border-radius: 2px;}
.mysite_responsive #responsive_menu,#comments .date,#content,#fancy_search,#footer,
#intro,#outro,#primary_menu,#s,#searchsubmit,
#slider_module,.blog_tabs a.current,.colored_box,.download_box,
.dropcap4,.fancy_box,.fancy_table,.info_box,.mysite_form .select,.no_intro #content,
.note_box,.password,.pullquote4,.slider_nav_thumb .slider_nav img,
.success_box,.tabs_button a.current,.textarea,.textfield,.toggle_frame,.warning_box{border-radius: 3px;}
.tabs_framed a,.titled_box_title {border-radius: 3px 3px 0 0;}
.about_author_content,.titled_box_content {border-radius: 0 0 3px 3px;}
#searchsubmit{border-radius: 4px 50px 50px 4px;}
#s{border-radius: 50px 4px 4px 50px;}
#submit,.button_link,.fancy_button{border-radius: 50px!important;}

/* Box Shadows
-------------------------------------------------------------- */
.mysite_responsive #responsive_menu,#primary_menu,#footer {box-shadow: 0 1px 0 rgba(255,255,255,0.81) inset,0 1px 3px rgba(0,0,0,0.2);}
#outro,#content,#slider_module,#intro{box-shadow:0 2px 3px rgba(0,0,0,0.2);}
#body_inner .galleria-container,
#content .gallery img,
.about_author_module .avatar,
.avatar,
.fancy_images img,
.framed,
.mysite_flickr_widget img,
.post_grid_image img,
.post_list_image img,
.single_post_image img,
.toggle_frame,
.video_frame,
.wp-caption{box-shadow:0 0px 1px rgba(0, 0, 0, 0.3);}
.textfield:focus,.password:focus,.textarea:focus,#s:focus,#comment:focus{box-shadow:1px 1px 5px rgba(0,0,0,.1);}
.colored_box,#submit,#searchsubmit,.button_link,.fancy_button,.titled_box_title,.dropcap4,.pullquote4{box-shadow:0 1px 0 rgba(255,255,255,0.6) inset,0 -1px 0 rgba(0,0,0,0.1) inset,0 1px 2px rgba(0,0,0,0.3);}
#fancy_search{box-shadow:0 1px 0 rgba(255,255,255,0.14),0 1px 0 rgba(0,0,0,0.1) inset;}
.about_author_module{box-shadow:0 1px 3px rgba(0,0,0,.2);}
.single_fading_slide,.single_scrolling_slide{box-shadow:0 1px 0 rgba(255,255,255,.8) inset;}
#fancy_search #s,.full_width .portfolio .single_post_image img{box-shadow:none;}

/* Gradients
-------------------------------------------------------------- */
#comments .date,#fancy_search{background:url(styles/_rgba/black20.png);background:linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.24));}
#footer,.pullquote4{background-image:linear-gradient(to bottom,rgba(255,255,255,.08),rgba(0,0,0,.08));}
#intro,#outro,.about_author_module{background-color: #f8f8f8;background: linear-gradient(to top,#f6f6f6,#fff);}
.jqueryslidemenu>ul>.current_page_parent,.jqueryslidemenu>ul>.current_page_ancestor,.jqueryslidemenu>ul>.current_page_item,
.partial_gradient_slide .slide_overlay,.overlay_slide .slide_overlay{background-image:radial-gradient(at top right,rgba(0,0,0,.1),rgba(0,0,0,.4));}
#comments .date {background-color: #f3f3f3;background: linear-gradient(to top,#F0F0F0,#F5F5F5);}

/* Transitions
-------------------------------------------------------------- */
.jqueryslidemenu ul ul a,.slider_nav_thumb .slider_nav a img,.header_social .social_icon{opacity: 1;transition:all .5s ease;}
.header_social .social_icon:hover,.post_sociable:hover{opacity:.4;}

/*
===============================================================================================================
09. RESPONSIVENESS & MOBILE
=============================================================================================================== */

/* Responsive Slider
-------------------------------------------------------------- */
.mysite_responsive #slider_module{overflow:visible;}
.mysite_responsive .flexslider{padding-bottom:25px;}
.mysite_responsive .flexslider_content{padding:30px;}
.slider_content_left .flexslider,
.slider_content_right .flexslider{width:567px;box-shadow:0 0 5px rgba(0,0,0,0.1);margin:30px;}
.mysite_responsive .flex-control-nav{bottom:0;}
.mysite_responsive .flex-control-nav li{margin:0;}
.mysite_responsive .flex-control-nav li a{width:20px;height:20px;background:url(images/sliders/nav_dots_sprite.png) 0 0 no-repeat transparent;}
.mysite_responsive .flex-control-nav li a:hover{background-position:0 0;opacity:.7;}
.mysite_responsive .flex-control-nav li a.flex-active{background-position:0 -34px;}

/* Responsive Menu
-------------------------------------------------------------- */
.mysite_responsive #responsive_menu{margin:10px auto;background:url(images/menu_overlay.png) 0 -2px repeat-x;}
.mysite_responsive #responsive_menu .select,
.mysite_responsive #responsive_menu .mysite_message{background:url(images/select_menu.png) no-repeat right center;color:#eee;text-indent:30px;height:40px;line-height:40px;}
.mysite_responsive #responsive_menu select.styled{height:40px;}

/* Media Queries
-------------------------------------------------------------- */
@media screen and (max-width:998px){
.mysite_responsive{width:100%;min-width:100%;}
.mysite_responsive #body_inner{width:90%;position:relative;}
.mysite_responsive.squeeze_page #body_inner{max-width:800px;min-width:0;}
.mysite_responsive #header, 
.mysite_responsive #intro, 
.mysite_responsive #breadcrumbs_inner, 
.mysite_responsive #slider_module, 
.mysite_responsive #content, 
.mysite_responsive #outro, 
.mysite_responsive #footer, 
.mysite_responsive #sub_footer{width:100%!important;}
.mysite_responsive #slider_module{overflow:visible;}
.mysite_responsive #slider_module_inner{width:auto;}
.mysite_responsive #header_inner, 
.mysite_responsive #intro_inner, 
.mysite_responsive #outro_inner, 
.mysite_responsive #footer_inner{padding-right:30px;padding-left:30px;width:auto;}
.mysite_responsive.left_sidebar #content_inner{background:linear-gradient(to left,transparent,transparent 68%,rgba(0,0,0,.05) 68%,rgba(0,0,0,.03) 68.2%);}
.mysite_responsive.right_sidebar #content_inner{background:linear-gradient(to right,transparent,transparent 68%,rgba(0,0,0,.05) 68%,rgba(0,0,0,.03) 68.2%);}
}
@media screen and (max-width: 650px){
#intro_inner{padding:20px 30px;}
#intro .teaser,#intro .intro_title{background:none;float:none;padding:10px 0;}
.mysite_responsive.left_sidebar #content_inner,.mysite_responsive.right_sidebar #content_inner{background:none;}
.mysite_responsive.right_sidebar #sidebar .widget,.mysite_responsive.left_sidebar #sidebar .widget{width:100%;padding: 20px 0;margin:0;background:none;}
.mysite_responsive #sidebar{background:none;}
.mysite_responsive.right_sidebar #sidebar_inner{margin:0;}
}
@media screen and (max-width: 480px){
.slider_content_left .flexslider,.slider_content_right .flexslider{border:0;margin:0;}
}