/* Echelon v2.1 - glass :fullbg */

.colorscheme_bg,body,body>.multibg>.multibg,.wp-pagenavi .current,.paged-navigation .current,
#intro,#slider_module_inner,#slider_module_inner .partial_gradient_slide,#header_extras,#footer,#sub_footer,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
background-color:#E98813;}
.colorscheme_color,h1,.post_more_link,.post_more_link a,.post_nav_module a,.comment-reply-link,
a:hover,.fancy_link,.dropcap2,.pullquote3,.highlight2,h5{/*:Color Scheme*/
color:#E98813;}
.colorscheme_border,#header,#intro,#header_extras,#sub_footer,#footer,#sub_footer,.wp-pagenavi .current,.paged-navigation .current,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,.cluetip-default .cluetip-arrows,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
border-color:#E98813;}
.colorscheme_sprite,.fancy_meta,#content .activation_link_list li,
#content .mysite_twitter_widget li,#content .recentcomments,.post_comments_bubble,
#content .widget_archive li,#content .widget_categories li,#content .widget_links li,#content .widget_nav_menu li,
#content .widget_pages li,#content .mysite_subnav_widget li,#content .widget_recent_entries li,
#content .contact_widget_name,#content .contact_widget_phone,#content .contact_widget_email,
.toggle,.toggle_accordion,.active,.toggle_frame .toggle,.toggle_frame .toggle_accordion,.toggle_frame .active,
.fancy_list .arrow_list,.fancy_list .bullet_list,.fancy_list .check_list,.fancy_list .circle_arrow,.fancy_list .triangle_arrow,.fancy_list .comment_list,.fancy_list .minus_list,.fancy_list .plus_list,.fancy_list .star_list,.sitemap_list li,
blockquote,.download_link,.email_link,.twitter_link,.dropcap,.dropcap3,.tabs_vertical li.current span,.featured_tabs li.current_page_item span{/*:Icon Sprite*/
background-image:url(_sprites/custom_sprite_e98813.png);}


/*:General Typography ~*~*/
body{/*:Body Font */
color:#888;font-size:12px;font-weight:normal;font-style:normal;font-family:Verdana, Geneva, Tahoma, sans-serif;}
h1{/*:h1 Font*/ 
/*color:#888@;*/font-size:32px;font-weight:normal;font-style:normal;font-family:sansationlight;}
h2{/*:h2 Font*/ 
color:#444;font-size:24px;font-weight:normal;font-style:normal;font-family:sansationlight;}
h3{/*:h3 Font*/ 
color:#444;font-size:20px;font-weight:normal;font-style:normal;font-family:sansationlight;}
h4{/*:h4 Font*/ 
color:#444;font-size:16px;font-weight:normal;font-style:normal;font-family:sansationlight;}
h5{/*:h5 Font*/ 
/*color:#444@;*/font-size:12px;font-weight:normal;font-style:normal;font-family:inherit;}
h6{/*:h6 Font*/ 
color:#aaa;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
a{/*:Link*/
color:#999;text-decoration:none;}
a:hover{/*:Link Hover*/
/*color:#aaa@;*/text-decoration:underline;}
/*:Typo End ~*~*/


/*:Body ~*~*/
body{/*:Body BG+ */
background-image:url(glass/glass_fullbg.png);/*background-color:inherit@;*/background-repeat:repeat-x;background-attachment:scroll;background-position:center top;}
/*:Body End ~*~*/


/*:Header ~*~*/
.logo a{/*:Logo Font */
color:#888;font-size:34px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#header{/*:Header Background */
background-image:none;background-color:#fff;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
#header{/*:Header Top Border */
/*border-top-color:#ebebeb@*/;border-top-width:6px;border-top-style:solid;}
#header{/*:Header Bottom Border */
border-bottom-color:#ebebeb;border-bottom-width:1px;border-bottom-style:solid;}
/*:Header End ~*~*/


/*:Menu ~*~*/
.jqueryslidemenu li span{/*:Menu Font */
color:#666;font-size:15px;font-weight:normal;font-style:normal;font-family:sansationlight;}
.jqueryslidemenu li small{/*:Menu Description Font */
color:#ccc;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
/*:Menu End ~*~*/


/*:Intro ~*~*/
#header+#intro{/*:Intro Font */
color:#eee;font-size:12px;font-weight:normal;font-style:normal;font-family:inherit;}
#header+#intro a{/*:Intro Links */
color:#eee;text-decoration:none;}
#header+#intro .intro_title,#intro .intro_title{/*:Intro Title Font */ 
color:#eee;font-size:50px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#intro .teaser{/*:Intro Description Font */ 
color:#b4b4b4;font-size:18px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#slider_module+#intro h3{/*:Call to Action Font*/ 
color:#888;font-size:22px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#breadcrumbs,#breadcrumbs a{/*:Breadcrumbs Font */
color:#ccc;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
#intro{/*:Intro Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
#slider_module,#intro{/*:Intro Border */
border-top-color:#f1f1f1;border-top-width:5px;border-top-style:solid;}
.nivo_slider #slider_module,.slider_nav_dots #slider_module,#intro{/*:Intro Border */
border-bottom-color:#f1f1f1;border-bottom-width:5px;border-bottom-style:solid;}
/*:Intro End ~*~*/


/*:Main Content ~*~*/
#content{/*:Main Content Background */
background-image:none;background-color:#fff;background-repeat:repeat-y;background-attachment:scroll;background-position:center top;}
#sidebar .widgettitle,.about_author_title,.share_this_title,.additional_posts_title,.commentlist_title,#reply-title,#comments-title, .blog_tabs{/*:Section Titles Font */
color:#999;font-size:13px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#slider_module+#intro,#content{/*:Main Content Top Border */
border-top-color:#ebebeb;border-top-width:1px;border-top-style:solid;}
#content{/*:Main Content Bottom Border */
border-bottom-color:#ebebeb;border-bottom-width:1px;border-bottom-style:solid;}
/*:Main End ~*~*/


/*:Outro ~*~*/
#outro,#outro a{/*:Outro Font */
color:#888888;font-size:18px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#outro{/*:Outro Background */
background-image:none;background-color:#fff;background-repeat:repeat-x;background-attachment:scroll;background-position:center top;}
#outro{/*:Outro Top Border */
border-top-color:#ebebeb;border-top-width:0px;border-top-style:solid;}
#outro{/*:Outro Bottom Border */
border-bottom-color:#ebebeb;border-bottom-width:1px;border-bottom-style:solid;}
/*:Outro End ~*~*/


/*:Footer ~*~*/
#footer{/*:Footer Font */
color:#aaa;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
#footer .widgettitle{/*:Footer Titles Font */
color:#eee;font-size:16px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#footer a{/*:Footer Links */
color:#aaa;text-decoration:none;}
#footer a:hover{/*:Footer Link Hover */
color:#fff;text-decoration:none;}
#footer{/*:Footer Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
#footer{/*:Footer Top Border */
border-top-color:#f1f1f1;border-top-width:5px;border-top-style:solid;}
/*:Footer End ~*~*/


/*:Sub Footer ~*~*/
#sub_footer{/*:Sub Footer Font */
color:#aaa;font-size:9px;font-weight:normal;font-style:normal;font-family:inherit;}
#sub_footer{/*:Sub Footer Background */
background-image:url(../images/sub_footer.png);background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
/*:Sub Footer End ~*~*/


/*:Misc ~*~*/
.toggle a,.toggle_accordion a{/*:Toggle Title Font*/ 
color:#888;font-size:15px;font-weight:normal;font-style:normal;font-family:sansationlight;}
.author_name,.commentlist cite,.commentlist cite a{/*:Cite Font*/ 
color:#444;font-size:18px;font-weight:normal;font-style:normal;font-family:sansationlight;}
#content .teaser{/*:Content Teaser Font */ 
color:#aaa;font-size:18px;font-weight:normal;font-style:normal;font-family:sansationlight;}
/*:Misc End ~*~*/





/* Custom CSS */

#intro .intro_title{/*:Cufon 1 */
/*fontFamily: 'colaboratethin',
color: 'linear-gradient(to bottom,#fff,#f9f9f9, #bbb)',
textShadow: '1px 2px rgba(0, 0, 0, 0.25), 0px -1px rgba(0, 0, 0, 0.1)',*/}
#intro .teaser{letter-spacing:1.2px;line-height:30px;}
#intro .teaser span{background:url(_rgba/black30.png) repeat;padding:2px 0;}

body{padding-top:1px;}
#header{border-top:none;}
#header_extras{background:transparent!important;border:none!important;}
#header_extras_inner{margin-top:-35px;padding:0;}
#body_inner{background:url(_rgba/black30.png) repeat;width:980px;margin-top:20px;border:1px solid rgba(0, 0, 0, 0.2);padding-top:8px;}
.has_header_text #body_inner,.has_header_links #body_inner,.has_header_social #body_inner{margin-top:30px;}
#intro_inner{background:none;}
.partial_staged_slideL,.partial_staged_slide,.floating_slide,.full_slide,.staged_slide,.raw_slide{background-color:transparent!important;}
#slider_module+#intro,#slider_module+#intro #intro_inner{background:#fff;}