/* Echelon v2.1 - steelblue   */

.colorscheme_bg,body,body>.multibg>.multibg,.wp-pagenavi .current,.paged-navigation .current,
#intro,#slider_module_inner,#slider_module_inner .partial_gradient_slide,#header_extras,#footer,#sub_footer,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
background-color:#788794;}
.colorscheme_color,h1,.post_more_link,.post_more_link a,.post_nav_module a,.comment-reply-link,
a:hover,.fancy_link,.dropcap2,.pullquote3,.highlight2,h5{/*:Color Scheme*/
color:#788794;}
.colorscheme_border,#header,#intro,#header_extras,#sub_footer,#footer,#sub_footer,.wp-pagenavi .current,.paged-navigation .current,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,.cluetip-default .cluetip-arrows,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
border-color:#788794;}
.colorscheme_sprite,.fancy_meta,#content .activation_link_list li,
#content .mysite_twitter_widget li,#content .recentcomments,.post_comments_bubble,
#content .widget_archive li,#content .widget_categories li,#content .widget_links li,#content .widget_nav_menu li,
#content .widget_pages li,#content .mysite_subnav_widget li,#content .widget_recent_entries li,
#content .contact_widget_name,#content .contact_widget_phone,#content .contact_widget_email,
.toggle,.toggle_accordion,.active,.toggle_frame .toggle,.toggle_frame .toggle_accordion,.toggle_frame .active,
.fancy_list .arrow_list,.fancy_list .bullet_list,.fancy_list .check_list,.fancy_list .circle_arrow,.fancy_list .triangle_arrow,.fancy_list .comment_list,.fancy_list .minus_list,.fancy_list .plus_list,.fancy_list .star_list,.sitemap_list li,
blockquote,.download_link,.email_link,.twitter_link,.dropcap,.dropcap3,.tabs_vertical li.current span,.featured_tabs li.current_page_item span{/*:Icon Sprite*/ 
background-image:url(_sprites/custom_sprite_788794.png);}


/*:General Typography ~*~*/
body{/*:Body Font */
color:#888;font-size:12px;font-weight:normal;font-style:normal;font-family:"Lucida Sans Unicode","Lucida Grande","Droid Sans",sans-serif;}
h1{/*:h1 Font*/ 
/*color:#888@;*/font-size:32px;font-weight:normal;font-style:normal;font-family:lindenhill;}
h2{/*:h2 Font*/ 
color:#444;font-size:24px;font-weight:normal;font-style:normal;font-family:lindenhill;}
h3{/*:h3 Font*/ 
color:#444;font-size:20px;font-weight:normal;font-style:normal;font-family:lindenhill;}
h4{/*:h4 Font*/ 
color:#444;font-size:16px;font-weight:normal;font-style:normal;font-family:lindenhill;}
h5{/*:h5 Font*/ 
/*color:#444@;*/font-size:12px;font-weight:normal;font-style:normal;font-family:inherit;}
h6{/*:h6 Font*/ 
color:#aaa;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
a{/*:Link*/
color:#999;text-decoration:none;}
a:hover{/*:Link Hover*/
/*color:#aaa@;*/text-decoration:underline;}
/*:Typo End ~*~*/


/*:Body ~*~*/
body{/*:Body BG+ */
background-image:url(../images/body.gif);background-color:#eaeaea;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
#body_inner{/*:Inner Content Background */
background-image:url(../images/site_container.png);background-color:transparent;background-repeat:repeat-y;background-attachment:scroll;background-position:center top;}
/*:Body End ~*~*/


/*:Header ~*~*/
.logo a{/*:Logo Font */
color:#888;font-size:34px;font-weight:normal;font-style:normal;font-family:lindenhill;}
#header{/*:Header Background */
background-image:none;background-color:#fff;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
#header{/*:Header Top Border */
/*border-top-color:#ebebeb@*/;border-top-width:6px;border-top-style:solid;}
#header{/*:Header Bottom Border */
border-bottom-color:#ebebeb;border-bottom-width:1px;border-bottom-style:solid;}
/*:Header End ~*~*/


/*:Menu ~*~*/
.jqueryslidemenu li span{/*:Menu Font */
color:#666;font-size:15px;font-weight:normal;font-style:normal;font-family:lindenhill;}
.jqueryslidemenu li small{/*:Menu Description Font */
color:#ccc;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
/*:Menu End ~*~*/


/*:Intro ~*~*/
#header+#intro{/*:Intro Font */
color:#eee;font-size:12px;font-weight:normal;font-style:normal;font-family:inherit;}
#header+#intro a{/*:Intro Links */
color:#eee;text-decoration:none;}
#header+#intro .intro_title,#intro .intro_title{/*:Intro Title Font */ 
color:#eee;font-size:24px;font-weight:normal;font-style:normal;font-family:lindenhill;}
#intro .teaser{/*:Intro Description Font */ 
color:#ddd;font-size:15px;font-weight:normal;font-style:normal;font-family:vegur;}
#slider_module+#intro h3{/*:Call to Action Font*/ 
color:#888;font-size:22px;font-weight:normal;font-style:normal;font-family:lindenhill;}
#breadcrumbs,#breadcrumbs a{/*:Breadcrumbs Font */
color:#ccc;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
#intro{/*:Intro Background */
background-image:none;/*background-color:#fff@;*/background-repeat:repeat;background-attachment:scroll;background-position:center top;}
#slider_module,#intro{/*:Intro Border */
border-top-color:#f1f1f1;border-top-width:5px;border-top-style:solid;}
.nivo_slider #slider_module,.slider_nav_dots #slider_module,#intro{/*:Intro Border */
border-bottom-color:#f1f1f1;border-bottom-width:5px;border-bottom-style:solid;}
/*:Intro End ~*~*/


/*:Main Content ~*~*/
#content{/*:Main Content Background */
background-image:none;background-color:#fff;background-repeat:repeat-y;background-attachment:scroll;background-position:center top;}
#sidebar .widgettitle,.about_author_title,.share_this_title,.additional_posts_title,.commentlist_title,#reply-title,#comments-title, .blog_tabs{/*:Section Titles Font */
color:#999;font-size:13px;font-weight:normal;font-style:normal;font-family:lindenhill;}
#slider_module+#intro,#content{/*:Main Content Top Border */
border-top-color:#ebebeb;border-top-width:1px;border-top-style:solid;}
#content{/*:Main Content Bottom Border */
border-bottom-color:#ebebeb;border-bottom-width:1px;border-bottom-style:solid;}
/*:Main End ~*~*/


/*:Outro ~*~*/
#outro,#outro a{/*:Outro Font */
color:#888888;font-size:18px;font-weight:normal;font-style:normal;font-family:lindenhill;}
#outro{/*:Outro Background */
background-image:none;background-color:#fff;background-repeat:repeat-x;background-attachment:scroll;background-position:center top;}
#outro{/*:Outro Top Border */
border-top-color:#ebebeb;border-top-width:0px;border-top-style:solid;}
#outro{/*:Outro Bottom Border */
border-bottom-color:#ebebeb;border-bottom-width:1px;border-bottom-style:solid;}
/*:Outro End ~*~*/


/*:Footer ~*~*/
#footer{/*:Footer Font */
color:#ddd;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
#footer .widgettitle{/*:Footer Titles Font */
color:#eee;font-size:13px;font-weight:normal;font-style:normal;font-family:inherit;}
#footer a{/*:Footer Links */
color:#eee;text-decoration:none;}
#footer a:hover{/*:Footer Link Hover */
color:#fff;text-decoration:none;}
#footer{/*:Footer Background */
background-image:url(../images/footer_highlight.png);/*background-color:#888@;*/background-repeat:no-repeat;background-attachment:scroll;background-position:center top;}
#footer{/*:Footer Top Border */
border-top-color:#f1f1f1;border-top-width:5px;border-top-style:solid;}
/*:Footer End ~*~*/


/*:Sub Footer ~*~*/
#sub_footer{/*:Sub Footer Font */
color:#aaa;font-size:9px;font-weight:normal;font-style:normal;font-family:inherit;}
#sub_footer{/*:Sub Footer Background */
background-image:url(../images/sub_footer.png);/*background-color:transparent@;*/background-repeat:repeat;background-attachment:scroll;background-position:center top;}
/*:Sub Footer End ~*~*/


/*:Misc ~*~*/
.toggle a,.toggle_accordion a{/*:Toggle Title Font*/ 
color:#888;font-size:15px;font-weight:normal;font-style:normal;font-family:lindenhill;}
.author_name,.commentlist cite,.commentlist cite a{/*:Cite Font*/ 
color:#444;font-size:18px;font-weight:normal;font-style:normal;font-family:lindenhill;}
#content .teaser{/*:Content Teaser Font */ 
color:#aaa;font-size:18px;font-weight:normal;font-style:normal;font-family:lindenhill;}
/*:Misc End ~*~*/





/* Custom CSS */

#sidebar .widgettitle,.about_author_title,.share_this_title,.additional_posts_title,.commentlist_title,#reply-title,#comments-title, .blog_tabs{text-transform:uppercase;letter-spacing:2px;}
#intro .intro_title{text-transform:uppercase;letter-spacing:1.5px;}
